
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div class="row" >
    <div class="col-lg-4">
        
        <form class="form-horizontal form-signin"
            
              novalidate
              action="index.html">

            <div class="row">
                <div class="col-sm-4" style="margin: 5px;">
                    <h5 style="text-align: right;">date</h5>
                </div>

                <div class="col-sm-7 " style="margin: 5px;">
                    <input type="date" class="form-control" id="issueDate" name="issueDate">

                </div>
            </div>

            <div class="row">
                <div class="col-sm-4" style="margin: 5px;">
                    <h5 style="text-align: right;">Department</h5>
                </div>
                <div class="col-sm-7 " style="margin: 5px;">
                    <select id="department" class="form-control" aria-describedby="basic-addon2"></select>


                </div>

            </div>
            

            <div class="row">
                <div class="col-sm-4" style="margin: 5px;">
                    <h5 style="text-align: right;">Card No</h5>
                </div>
                <div class="col-sm-7 " style="margin: 5px;">
                    <input type="text" class="form-control" id="cardNo" placeholder="H-11883" />

                </div>

            </div>
            <div class="row">
                <div class="col-sm-4" style="margin: 5px;">
                    <h5 style="text-align: right;">Emp Name</h5>
                </div>
                <div class="col-sm-7 " style="margin: 5px;">
                    <input type="text" class="form-control" id="empName" placeholder="Name" />

                </div>

            </div>
            <div class="row">
                <div class="col-sm-4" style="margin: 5px;">
                    <h5 style="text-align: right;">Group</h5>
                </div>
                <div class="col-sm-7 " style="margin: 5px;">
                    <select id="grouplist" class="form-control" aria-describedby="basic-addon2"></select>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4" style="margin: 5px;">
                    <h5 style="text-align: right;">Items</h5>
                </div>
                <div class="col-sm-7 " style="margin: 5px;">
                    <select id="itemslist" class="form-control" onchange="item_select(this)" aria-describedby="basic-addon2"></select>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4" style="margin: 5px;">
                    <h5 style="text-align: right;">Item Qty</h5>
                </div>
                <div class="col-sm-7 " style="margin: 5px;">
                    <input style="font-size: large; font-weight: bold;"
                           type="text"
                           id="itemqty"
                           value=""
                           class="form-control"
                           required />
                </div>
            </div>


            <div class="modal-footer">
                <span><input type="button" class="btn btn-primary" id="btnAddlocation" onclick="addOrEditDistribute();" value="Add"></input></span>
                <span><input type="button" class="btn btn-warning" id="btnClearlocation" onclick="clearitem();" value="Clear"></input></span>
                @*<button type="submit" class="btn btn-dark"><i class="fa fa-plus"></i> Add to List</button>*@

            </div>
            <br>

        </form>
        <div id="gridId" style="display: none">
            <table id="itemsDatatable" class="table table-striped table-bordered" style="width: 100%;"></table>
        </div>
        <div id="saveandupdatediv"  class="modal-footer" style="display: none"> 
            <span><input type="button" class="btn btn-primary" id="btnSaveData" onclick="saveOrEditDistribute();" value="Save"></input></span>
            <span><input type="button" class="btn btn-warning" id="btnClearlocation" onclick="cleardatda();" value="Clear"></input></span>
            @*<button type="submit" class="btn btn-dark"><i class="fa fa-plus"></i> Add to List</button>*@

        </div>
    </div>
    <div class="col-lg-8">
        <h1>Assets view</h1>

        
        <div class="table-responsive">
            <table id="gridDatatable" class="table table-striped table-bordered" style="width:100%"></table>
        </div>
    </div>


</div>

<script>

    var itemsList = [];
    var issueDetailsList = [];
    var item_code;
    var item_name;

    $(document).ready(function () {
         
        getDepartmentList();

        getGroupList();
        showGridView();
        //checklist();

    });

    function checklist() {
        
        if (issueDetailsList.length != 0) {
            $("#gridId").show();
        } else {
            $("#gridId").hide();
        }
        if (issueDetailsList.length != 0) {
            $("#saveandupdatediv").show();
        } else {
            $("#saveandupdatediv").hide();
        }

    }

  

    function addOrEditDistribute() {
        btn = $('#btnAddlocation').val();
        if (btn == "Add") {
            addItems();
        } if (btn == "Update") {
            updateLocation();

        }
    }

    function item_select(select) {
        
        item_code = select.options[select.selectedIndex].id;
        item_name = select.options[select.selectedIndex].value;
    }




    function addItems() {


        itemName = $('#itemslist').val();
        itemQty = $('#itemqty').val();
        


        var result = false;
        console.log("issueDetailsList issueDetailsList", issueDetailsList);
        for (i = 0; i < issueDetailsList.length; i++) {
            if (issueDetailsList[i].item_code == item_code) {

                result = true;

            }
        }
        if (result === false) {
            console.log("result", result);
            issueDetailsList.push({
                item_code: item_code,
                item_name: itemName,
                item_qty: itemQty,
            });
            clearitem();
        } else {
            alert("You Alrady Add This Location");
            return
        }

        console.log(issueDetailsList);

        console.log(itemsList);
        showlocationlview();
        checklist();

    }

    function showGridView() {
      
        $('#gridDatatable').DataTable({
            
            "bDestroy": true,
            "select": true,
            "ajax": {
                "url": "/Distribute/showGridView",
                "type": "POST",
                "datatype": "json",
                "dataSrc": function (response) {
                    response.draw = response.data.draw;
                    response.recordsTotal = response.recordsTotal;
                    response.recordsFiltered = response.recordsFiltered;
                    console.log('request.responseText', response.data);
                    return response.data;
                }
            },



            "order": [[1, 'asc']],
            "columns": [
                  {
                      title: 'SL',
                      render: function (
                          data,
                          type,
                          row,
                         meta
                      ) {
                          return '<span>' + (meta.row + 1) + '</span>';
                      },
                  },
 
                 {
                     title: 'ID',
                     data: 'issue_no',
                     name: 'issue_no',
                 },
                 {
                     title: 'Department Name',
                     data: 'department_name',
                     name: 'department_name',
                 },
                 {
                     title: 'card_no',
                     data: 'card_no',
                     name: 'card_no',
                 },
                 {
                     title: 'emp_name',
                     data: 'emp_name',
                     name: 'emp_name',
                 },
                   {
                       title: 'issue_date',
                       data: 'issue_date',
                       name: 'issue_date',
                   },

                   //{
                   //    render: function (data, type, row) {
                   //        return '<button type="button"   class="btn btn-info fontsize  sales-sloat-ak">Edit</button>';
                   //    }
                   //},

                   //  {
                   //      render: function (data, type, row) {
                   //          return '<button type="button"   class="btn btn-danger fontsize  delete-sloat-ak">Delete</button>';
                   //      }
                   //  },
                      {
                          render: function (data, type, row) {
                              return '<button class="btn btn-info fontsize  sales-sloat-ak">   <i class="fa fa-pencil"></i></button>' + "&nbsp" + '<button class="btn btn-danger fontsize  delete-sloat-ak"> <i class="fa fa-trash"></i></button>';
                          }
                      },

            ],

            "responsive": true,
            "rowCallback": function (row, data) {
                //$(row)
                // .bind('click')
                // .click(function () {

                //     selectdata = data;
                //     console.log('hello delete dataddddddddd', selectdata);
                //     //rerender();
                // });
                $(row).find(".sales-sloat-ak").click(function () {
                    selectdata = data;
                    console.log('hello edit dddeeeee', selectdata);
                    editAssets(selectdata);
                    
                });
                $(row).find(".delete-sloat-ak").click(function () {
                    selectdata = data;
                    //deleteItemsById(selectdata.lngSlNo)
                    //that.salesss(data);
                    //that.rerender();
                });

            }

        });

    }

    function editAssets(selectdata) {
        alert();

       $('#department').val(),
       $('#cardNo').val(),
      $('#empName').val(),
     $('#issueDate').val()

    }

    function showlocationlview() {
        $('#itemsDatatable').DataTable({
            data: issueDetailsList,
            "bDestroy": true,
            "paging": false,
            "ordering": false,
            "info": false,
            //"scrollX": true,
            "select": true,
            "dataSrc": function (response) {
                // Settings.
                response.draw = response.draw;
                response.recordsTotal = response.recordsTotal;
                response.recordsFiltered = response.recordsFiltered;
                console.log('request.responseText', response);
                return response;
            },
            columns: [

                {
                    title: 'SL',
                    render: function (
                        data,
                        type,
                        row,
                       meta
                    ) {
                        return '<span>' + (meta.row + 1) + '</span>';
                    },
                },

                    //{ title: 'Location Name', data: 'strLocation' },
                    { title: 'Item Name', data: 'item_name' },

                    { title: 'Qty', data: 'item_qty', className: 'editable' },

                     //{
                     //    title: 'Edit',
                     //    render: function (data, type, row) {
                     //        return '<button type="button"   class="btn btn-info fontsize  sales-sloat-ak">Edit</button>';
                     //    }
                     //},
                 {
                     render: function (data, type, row) {
                         return '<button class="btn btn-info fontsize  sales-sloat-ak">   <i class="fa fa-pencil"></i></button>' + "&nbsp" + '<button class="btn btn-danger fontsize  delete-sloat-ak"> <i class="fa fa-trash"></i></button>';
                     }
                 },

            ],
            //"scrollX": true,
            "responsive": true,
            "rowCallback": function (row, data) {
                $(row)
                 .bind('click')
                 .click(function () {

                     selectlocationItem = data;
                     console.log('hello select data', selectlocationItem);
                     //rerender();
                 });
                $(row).find(".sales-sloat-ak").click(function () {
                    selectlocationItem = data;
                    console.log('hello edit data', selectlocationItem);
                    editLocation(selectlocationItem);

                });
                $(row).find(".delete-sloat-ak").click(function () {
                    //selectlocationItem = data;
                    deletData(data);
                });

            }
        });
    }

    function deletData(data) {

        for (var i = 0; i < issueDetailsList.length; i++) {
            if (issueDetailsList[i].strItemName == data.strItemName) { }

            issueDetailsList.splice(i, 1);
        }

        showlocationlview();

    }

    function clearitem() {
        $('#btnAddlocation').val("Add");


        $('#itemqty').val("");

        $('#grouplist').val("Please Select a Group");

        $('#itemslist').val("Please Select a Item");
    }

    function cleardatda() {

        $("#itemsDatatable").dataTable().fnDestroy();
        $('#btnSaveData').val("Save");
        issueDetailsList = [];
        showlocationlview();
        checklist();
       
    }









    function getDepartmentList() {

        $.ajax({
            url: '/Department/showGrid',
            type: 'GET',
            data: "{}",
            success: function (data) {
                console.log('hello delete dataddddddddd', data);
                var s = '<option value="-1">Please Select a Department</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].department_code + '">' + data[i].department_name + '</option>';
                }
                $("#department").html(s);
            },

            error: function (ex) {

            }
        });
    }

    function getGroupList() {

        $.ajax({
            url: '/StockGroup/getUnderList',
            type: 'GET',
            data: "{}",
            success: function (data) {
                console.log('hello delete dataddddddddd', data);
                var s = '<option value="-1">Please Select a Group</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].NAME + '">' + data[i].NAME + '</option>';
                }
                $("#grouplist").html(s);
            },

            error: function (ex) {

            }
        });
    }

    $('#grouplist').on("change", function () {
        var group = $('#grouplist').val();
        var obj = { group: group };
        //alert(group);
        getItemList(group);

    });

    function getItemList(group) {

        $.ajax({

            url: "/Item/getStockItemListByGroup?group=" + group,
            type: 'GET',
            data: "{}",
            success: function (data) {
                console.log('hello delete dataddddddddd', data);
                var s = '<option value="-1">Please Select a Group</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option id="' + data[i].lngSlNo + '" value="' + data[i].strItemName + '">' + data[i].strItemName + '</option>';
                }
                $("#itemslist").html(s);
            },

            error: function (ex) {

            }
        });
    }
    $('#itemslist').on("change", function () {
        var group = $('#itemslist').val();
        var obj = { group: group };
        //alert(group + "" + obj.strItemcode);
        //getItemList(group);

    });




    function saveOrEditDistribute() {
        btn = $('#btnSaveData').val();
        if (btn == "Save") {
            saveIssue();
        } if (btn == "Update") {
            //updateLocation();
        }
    }


    function saveIssue() {

        jQuery.ajaxSettings.traditional = true;
        var list = [];
        list = issueDetailsList;
        console.log('list list', list);
        var empObj = {
            //strItemName: $('#strItemName').val(),

            department_name: $('#department').val(),
            card_no: $('#cardNo').val(),
            emp_name: $('#empName').val(),

            issue_date: $('#issueDate').val(),
            //created_by: $('#strDate').val(),
            //create_date: $('#issueDate').val(),
            //updated_by: qtyTotal,
            //update_date: dblOpnValues,

            gIssueDetailsList: list,



        };
        console.log("sdfsfsdfsdf", empObj);

        $.ajax({
            url: "/Distribute/saveIssue",
            type: "POST",
            data: JSON.stringify(empObj),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

               
                if (result == "OK") {
                    $('#myModal').modal('hide');
                    cleardatda();
                    //showGrid();
                    showGridView();
                } else {
                    alert("resutl is ", result);
                };

            }
        });
    }



</script>