<br />
@*<div><button type="button" class="btn btn-primary" data-toggle="modal" id="myBtn" data-target=".b-example-modal-lg">Add </button></div>*@





<div class="card-header" style="background:  #194771; color: white;">
    <div class="row">
        <div class="col-md-8" >
            <h3 style="color: gold;">Brand Name</h3>



        </div>
        <div class="col-md-4" style="position: relative;">
            <button class="btn btn-primary" id="btnsaveItem" data-toggle="modal" data-target="#brandModal">+Add New</button>&nbsp;
            @*<div class="btnAllRow">
                <button title="Add Brand"
                        style="margin: 2px;"
                        class="btn btn-success"
                        data-toggle="modal" id="myBtn" data-target=".b-example-modal-lg">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Brand
                </button>*@
                @*<button title="Edit Room"
                            style="margin: 2px;"
                            data-toggle="modal"
                            data-target="#edit"
                            class="btn btn-warning"
                            (click)="updateOrder()">
                        <i class="fas fa-edit" aria-hidden="true"></i>&nbsp;Edit
                    </button>
                    <button title="Delete Room"
                            style="margin: 2px;"
                            data-toggle="modal"
                            data-target="#deleted"
                            class="btn btn-danger">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>&nbsp;Delete
                    </button>*@
            @*</div>*@
        </div>
    </div>
</div>

<hr />

<div class="modal fade b-example-modal-lg " tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myLargeModalLabel exampleModalCenterTitle" aria-hidden="true" id="brandModal">

    <div class="modal-dialog modal-lg b-example-modal-lg ">
        <div class="modal-content">
            <div class="modal-header " style="background: #194771">

                <h5 style=" float:left ;color:white" id="exampleModalBrand"></h5>
                <p>  </p>
              
                <button type="button" class="close" style="background:  #194771; color: white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body crudForm">
                <div class="col-md-12">
                    <div>
                        <div class="form-group">
                            <form>

                                <div class="form-group col-md-12 ">
                                    <label for="EmployeeId">Brand Name</label>
                                    <input type="text" class="form-control" id="BrandName" placeholder="Name" />
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label for="Name">Under</label>
                                    <select id="groupList" class="form-control">
                                        <option value="">--Select One--</option>
                                        @foreach (var group in ViewBag.groupList)
                                        {
                                            <option value="@group.NAME">@group.NAME</option>
                                        }
                                    </select>

                                </div>



                                <div class="modal-footer justify-content-lg-end  border-0">

                                    <span><input type="button" class="btn btn-primary" id="btnsaveOrder" onclick="saveOrUpdate()" value="Save"></input></span>
                                    <span><button type="button" class="btn btn-danger" data-dismiss="modal" id="btnBrandCencel" (click)="bsModalRef.hide();  onclick=" cleardatda()">Cancel</button></span>
                                </div>

                            </form>
                        </div>
                    </div>



                </div>

            </div>



        </div>
    </div>
</div>





<div class="table-responsive">
    <table id="datatablebrand" class="table table-striped table-bordered" style="width:100%"></table>
</div>


<script>
  
    var title = "Add Brand";

    document.getElementById("exampleModalBrand").innerHTML = title;
    $(document).ready(function () {
      
        //getUnderList();
        showGrid();

    });

    function getUnderList() {

        $.ajax({
            url: '/BrandC/mFillBrandList',
            type: 'GET',
            data: "{}",
            success: function (data) {
                console.log('hello delete dataddddddddd', data);
                var s = '<option value="-1">Please Select Under</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].NAME + '">' + data[i].NAME + '</option>';
                }
                $("#UnderBrand").html(s);
            },

            error: function (ex) {

            }
        });
    }


    var selectdata = "";
    function saveOrUpdatecencel() {
        //alert("dds")
        $.ajax({
            url: '/Item/Index',
            type: 'GET',
            //data: { StudentIdC: studentIdC },
            dataType: 'html',
            contentType: 'application/json',
            success: function (data) {
                $('#menu3').html(data);

                //Spiner.hide();
            },
            error: function (ex) {

            }
        });
    }

    function saveOrUpdate() {

        var btn = $('#btnsaveOrder').val()


        if (btn == "Save") {

            save();

        } else {

            UpdateBrand(selectdata.strBRAND_ID);
        }
    }

    function save() {
    
        var empObj = {
            strBRAND_NAME: $('#BrandName').val(),
            strUnder: $('#groupList option:selected').text(),
          
        };
        console.log(empObj)
        $.ajax({
            url: "/Brand/InsertBrand",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                if (result == "Ok") {
                    $('#brandModal').modal('hide');
                    cleardatda();
                    showGrid();
                    swal("Save!", "Save success.", "success");
                } else {
                    swal("Error!", "Save Fail.", result);

                }
                ;

            }
        });

    }

    function UpdateBrand(sl) {
        alert(sl)
        var empObj = {
            strBRAND_NAME: $('#BrandName').val(),
            strUnder: $('#groupList option:selected').text(),
            strBRAND_ID: sl,
        };


        $.ajax({
            url: "/Brand/UpdateBrand",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result == "Ok") {
                    $('#brandModal').modal('hide');
                    cleardatda();
                    showGrid();
                    swal("Update!", "Update success.", "success");
                };

            }
        });

    }





    function showGrid() {


        table = $('#datatablebrand').DataTable({
            "bDestroy": true,
            "select": true,
            //"gridlines": true,
            "ajax": {
                "url": "/Brand/mFillBrandList",
                "type": "POST",
                "datatype": "json",
                "dataSrc": function (response) {
                    detailsList = response;
                    response.draw = response.draw;
                    response.recordsTotal = response.recordsTotal;
                    response.recordsFiltered = response.recordsFiltered;
                    return response;
                }

            },

            //"order": [[1, 'asc']],
            "paging": true,
            "searchable": true,
            "columns": [
                  {
                      title: 'SL',
                      render: function (
                          data,
                          type,
                          row,
                          meta
                      ) {
                          return '<span>' + (meta.row + 1) + '</span>';
                      },
                  },
                  {
                      title: 'SERIAL',
                      data: 'strBRAND_ID',
                      name: 'strBRAND_ID',
                      visible: false,
                  },
                  {
                      title: 'BRAND NAME',
                      data: 'strBRAND_NAME',
                      name: 'BRAND_NAME',
                  },
                    {
                        title: 'Under',
                        data: 'strUnder',
                        name: 'BRAND_NAME',
                    },
                    {
                        title: 'Status',
                        data: 'intBRAND_STATUS',

                        render: function (data) {
                            return data == 1 ? "Active" : "Inactive"
                        }
                    },
                             {
                                 title: 'Edit',

                                 render: function (data, type, row) {
                                     return '<button class="btn btn-info fontsize  sales-sloat-ak" data-toggle="modal" data-target="#AccountsVoucher"><i class="fa fa-pencil"></i></button>';
                                 }
                             },
                              {
                                  title: 'Delete',
                                  render: function (data, type, row) {

                                      return '<button class="btn btn-danger fontsize delete-sloat-ak">   <i class="fa fa-trash"></i></button>';
                                  }
                              },


            ],

            "responsive": true,
            "rowCallback": function (row, data) {



                var rowdata = data;


                $(row).find(".sales-sloat-ak").click(function () {
                    selectdata = data;

                    //saveorupdatebtntype =1;
                    edit(selectdata);

                });
                $(row).find(".delete-sloat-ak").click(function () {
                    selectdata = data;

                    deleteBrand(selectdata);

                });
                $(row).find(".print-sloat-ak").click(function () {
                    selectdata = data;
                    orderprint(selectdata.strVoucherNoMerz, selectdata.strLedgerName)

                });

            }

        });

    }
    function edit(selectdata) {
        //alert(selectdata.NAME)
        console.log('seleceted data', selectdata);
        $('#brandModal').modal('show');
        $('#BrandName').val(selectdata.strBRAND_NAME);
        $('#groupList').val(selectdata.strUnder).trigger('change');
        $('#btnsaveOrder').val("Update");

    }



    function deleteBrand(selectdata) {
        var empObj = {
            strBRAND_ID: selectdata.strBRAND_ID,
        };

        $.ajax({
            url: "/Brand/DeleteBrand",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                

                if (result == "OK") {

                    cleardatda();
                    showGrid();
                    swal("Delete!", "Delete success.", "success");


                };


            }
        });


    }
    function cleardatdaddd() {
        this.modalForm.reset();
    }

    function cleardatda() {
        //alert("btn")

        //$("#datatable").dataTable().fnDestroy();
        //$('#StockGroupName').val("");
        //$('#UnderG').val("");
        //$('#gStatus').val("");
        $('#btnBrandAdds').val("Save");

    }

</script>
 
